@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display:wght@200;400;500;700&display=swap");

* {
    font-family: 'ADLaM Display', sans-serif;
    font-weight: 400;
}

.carouselContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 200px 0;
}

.portfolioTitle {
    font-size: 40px;
    text-align: center;
    border: solid 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 10%;
    margin: auto;
}

.carouselPortfolio {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.carouselPortfolio img {
    user-select: none;
    -webkit-user-drag: none;
}

.slide {
    position: absolute;
}

.slide.active{
    z-index: 1;
}

.slide.next {
    filter: blur(2px);
    height: 500px;
    right: 200px;
}

.slide.prev {
    filter: blur(2px);
    height: 500px;
    left: 200px;
}

.arrow {
    z-index: 5;
    position: absolute;
    cursor: pointer;
}

.left {
    left: 20%;
}

.right {
    right: 20%;
}

.ghostOrbit {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
}

.ghost {
    position: absolute;
}


.portfolioBtn {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    border: solid 2px white;
    box-shadow: 0 0 4px black;
}

.portfolioBtn:hover {
    background-color: black;
    cursor: pointer;
    box-shadow: 0 0 10px black;
}